

.frame {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(224, 224, 224);
  font-size: 12px;
  border-radius: 4px;
  padding: 6px;
  width: 100px;
}

.category {
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  padding: 6px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.nodes {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(224, 224, 224);
  display: grid;
  font-size: 12px;
  left: 100px;
  padding: 6px;
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 240px;

  .node {
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}