@import '../../../../styles/mixin.scss';

.frame {
  font-family: Arial, sans-serif;
  padding: 4px 8px;
  position: relative;

  .canvasContainer {
    padding-top: 100%;
    position: relative;
    width: 100%;
    @include transparentCheckerboard(12px);

    canvas {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .downloadButton {
    background-color: white;
    border: none;
    cursor: pointer;
    float: right;
    padding: 2px 4px;
    position: relative;
    outline: none;
    top: 4px;

    &:hover {
      opacity: 0.8;
    }
  }
}