
@import '../../../../styles/mixin.scss';

.frame {
  input {
    display: none;
  }
}

.imageInputRect {
  padding-top: 100%;
  position: relative;
  width: 100%;
  @include transparentCheckerboard(12px);

  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}