$SIDEBAR_WIDTH: 308px;

.board {
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: $SIDEBAR_WIDTH;
  width: calc(100vw - $SIDEBAR_WIDTH);
}

.sidebar {
  background-color: #111;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: $SIDEBAR_WIDTH;

  .title {
    color: white;
    font-family: 'Titillium';
    font-weight: bold;
    font-size: 14px;
    padding: 8px 4px 4px;
    text-align: center;

    svg {
      position: relative;
      top: 2px;
    }
  }

  .versions {
    color: white;
    font-size: 10px;
    margin: 0 4px 8px;
    text-align: center;
  }

  .output {
    canvas {
      height: 250px;
      width: 250px;
    }
  }
}
