.board {
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.logo {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 8px;
  border-radius: 4px;
  left: 8px;
  padding: 4px 8px;
  position: fixed;
  z-index: 1000;

  .title {
    color: white;
    font-family: 'Titillium';
    font-weight: bold;
    font-size: 14px;
    padding: 8px 4px 4px;
    text-align: center;

    svg {
      position: relative;
      top: 2px;
    }
  }

  .versions {
    color: white;
    font-size: 10px;
    margin: 0 4px 8px;
    text-align: center;
  }
}

.help {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
}
